---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a background rooted in Mechatronics Engineering, I have evolved into a passionate self-taught web developer driven by an insatiable curiosity and love for cloud computing. The journey of transitioning from the world of Mechatronics to the realm of web development has been both challenging and rewarding. Currently serving as the Team Leader for Microsoft365 Cloud Support, I bring a wealth of experience and expertise in cloud technologies to the table. Despite my success in the cloud support domain, my heart lies in web development, and I am on the cusp of launching my professional career in this dynamic field. Armed with a robust skill set and a fervent desire to create innovative solutions, I am eagerly anticipating diving into exciting web development projects that will further showcase my capabilities and passion for the craft.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						Mechatronics Engineering at the Arab Academy for Science, Technology, and Maritime Transport, Cairo, Egypt.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Proficient in Full Stack development using JavaScript/TypeScript, my expertise spans across various technologies, including Next.js, React, and Node.js. I have hands-on experience with databases such as MySQL and MongoDB, and I'm well-versed in utilizing Drizzle ORM for efficient data management. Additionally, my proficiency extends to tRPC for seamless communication between the Front-End and Back-End components of web applications.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
