---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>
			I am a versatile Full Stack developer proficient in JavaScript/TypeScript, harnessing the power of React, and adeptly employing frameworks such as Next.js. Currently expanding my skill set by delving into the intricacies of Astro.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Industry Leader</h2>
		<p>As an industry leader in Microsoft 365 cloud support, I bring unparalleled expertise to optimize and enhance organizational efficiency through seamless integration of Microsoft technologies. My proficiency ensures a cutting-edge approach, aligning businesses with the full spectrum of possibilities within the Microsoft ecosystem.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>As a strategy-minded professional, I consistently navigate complex challenges, leveraging analytical thinking to formulate innovative solutions. My approach blends foresight and adaptability, ensuring effective decision-making for sustainable success.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
